<p>Here we are!</p>
{{#each blogposts as |blogpost| }}
<div>
    <h2>
        <a href="/post/{{blogpost.id}}">      {{blogpost.title}}</a>

    </h2>
    <p>
        {{blogpost.content}}

    </p>
    <p>
        Created by {{blogpost.user.username}} on {{format_date blogpost.creation_date}}
    </p>
</div>
{{/each}}